@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;800;900&display=swap');

* {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: left;
    color: #24244B;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #24244B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding-top: 17%;
  background-image: url('../img/header-paper-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 17%;
}

main {
  flex-grow: 1;
}

footer {
  background-color: #24244B;
  padding: 1.5%;
  margin-top: auto;
}

ul {
  display: flex;
  justify-content: center;
}

li {
  padding: 1em;
  background-color: #24244B;
  border-radius: 20%;
  border: solid 1px #E18AB3;
  box-shadow: -3px 3px 3px #E18AB3;
  height: 4em;
  width: 4em;
  margin: 0.5em;
  transition: all 0.05s linear;
}

li:active {
  background-color: #99C97F;
  transform: translateY(3px);
  box-shadow: none;
}

h1 {
    text-align: center; /* Voorkomt automatische tekstomloop */
    position: relative;
    word-break: break-word;
    margin-top: -2%;
    line-height: 1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h6 {
  font-size: 1em;
  font-weight: 900;
}

p {
  font-size: 0.85em;
  line-height: 1.2em;
  margin: 1em 4em;
}

p:first-of-type {
  font-weight: 800;
  word-break: break-word;
}

.bg-index {
  background-image: url('../img/index-bg.png');
  background-size: cover;
  border: 28px #E18AB3 solid;
}

.center-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  height:50vh;
  animation: hithere 1.5s ease infinite; 
}

@keyframes hithere {
  30% { transform: scale(1.1); }
  40%, 60% { transform: rotate(-15deg) scale(1.1); }
  50% { transform: rotate(15deg) scale(1.1); }
  70% { transform: rotate(0deg) scale(1.1); }
  100% { transform: scale(1); }
}

/* Zeewierwinkel */  
  .bg-zeewierwinkel {
    background-image: url('../img/zeewierwinkel-bg.png');
    background-size: cover;
    display: flex;
  }
  
  .burger {
    width: 10vh;
    text-align: center;
    animation: rotate 6s ease-in-out infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .container {
    position: relative;
    text-align: center;
  }
  
  .zeewier-papier {
    position: absolute;
    top: -2.5em;
    left: 0;
    width: 100vw;
    height: 65vh;
  }
  
  .burger {
    width: 60px;
    display: block;
    margin: 0 auto;
  }
  
  .tekst-container-winkel {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }

/* Waarom Zeewier? */
.header-waarom-zeewier {
  background-image: none;
  }

.bg-waarom-zeewier {
  background-image: url('../img/waarom-zeewierpapier.png'), url('../img/waarom-zeewier-bg.png');
  background-size: cover;
  background-position: center, center;
  position: relative;
  height: 100vh;
  justify-content: center;
  z-index: 1; /* Zorg ervoor dat deze boven andere elementen staat */
}

.tekst-container-waarom {
  position: absolute;
  margin-top: -10%;
  padding:3%;
  left: 0;
  right: 0;
}

header img {
  height: 15vh;
  position: absolute;
  left:17em;
  top:2.5em;
  transform: rotate(30deg);
  animation: float1 4s ease-in-out infinite;
}

#zeesla {
  height: 20vh;
  position: absolute;
  left: 1em;
  bottom: 9em;
  transform: rotate(190deg);
  animation: float2 6s ease-in-out infinite;
}

@keyframes float1 {
  0% {
    transform: translatey(0%);
  }

  50% {
    transform: translatey(10%);
  }

  100% {
    transform: translatey(0%);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0%);
  }

  50% {
    transform: translatey(20%);
  }

  100% {
    transform: translatey(0%);
  }
}

/* Andere toepassingen van Zeewier */
.bg-toepassingen-zeewier {
  background-image: url('../img/toepassingen-bg.png');
  background-size: cover;
}

.papier1 {
  background-image: url('../img/papier/paper1.png');
  width: 100vw;
  font-size: 2em;
  padding: 9% 23% 33% 23%;
  position: absolute;
  background-repeat: no-repeat;
  transform: rotate(-80deg);
  top:7em;
  left:5.5em;
}

.papier2 {
  background-image: url('../img/papier/paper2.png');
  height: 100px;
  font-size: 1.2em;
  padding: 10% 5%;
  position: absolute;
  background-repeat: no-repeat;
  transform: rotate(80deg);
  top:20em;
  left:0em;
}

.papier3 {
  background-image: url('../img/papier/paper3.png');
  height: 100px;
  font-size: 1.9em;
  padding: 10% 5%;
  position: absolute;
  background-repeat: no-repeat;
  transform: rotate(40deg);
  top:15em;
  left:5em;
}

.papier4 {
  background-image: url('../img/papier/paper4.png');
  height: 100px;
  font-size: 1em;
  padding: 12% 5%;
  position: absolute;
  background-repeat: no-repeat;
  transform: rotate(-40deg);
  top:24em;
  left:4em;
}

.papier5 {
  background-image: url('../img/papier/paper5.png');
  font-size: 2em;
  line-height: 1em;
  word-break: break-word;
  padding: 22% 25% 50% 10%;
  position: absolute;
  background-repeat: no-repeat;
  transform: rotate(15deg);
  top:5em;
  left:2.5em;
  background-size: 70%;
  box-shadow: 10% grey;
}

.papier6 {
  background-image: url('../img/papier/paper6.png');
  height: 100vh;
  font-size: 1.5em;
  line-height: 1em;
  padding: 15% 12% 15% 20%;
  position: absolute;
  background-repeat: no-repeat;
  transform: rotate(50deg);
  top:6em;
  right:16em;
}

.papier7 {
  background-image: url('../img/papier/paper7.png');
  height: 100vh;
  font-size: 1.5em;
  line-height: 1em;
  padding: 15% 12% 15% 20%;
  position: absolute;
  background-repeat: no-repeat;
  transform: rotate(50deg);
  top:6em;
  right:16em;
}

/* NAV */
ul li:nth-child(1) img{
  height: 6.5vh;
  margin-left: -13px;
  margin-top: -7px;
}

ul li:nth-child(2) img{
  height: 7vh;
  margin-left: -13px;
  margin-top: -6px;
}

ul li:nth-child(3) img{
  height: 7vh;
  margin-left: -13px;
  margin-top: -6px;
}

ul li:nth-child(4) img{
  height: 7vh;
  margin-left: -12px;
  margin-top: -6px;
}

.locatie {
  background-color: #E5DB9F;
  border:#99C97F solid 1px;
}